<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ce7389">  <td>23/08/23 11:52:31</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;SameUserLoanCount.CloseBrowser()[pri:0, instance:com.lendenclub.main.SameUserLoanCount@43f02ef2]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>23/08/23 11:51:31</td>   <td>-60102</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SameUserLoanCount.TestLoanProcessingCount()[pri:2, instance:com.lendenclub.main.SameUserLoanCount@43f02ef2]">TestLoanProcessingCount</td> 
  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>23/08/23 11:51:25</td>   <td>-65190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SameUserLoanCount.loginPage()[pri:1, instance:com.lendenclub.main.SameUserLoanCount@43f02ef2]">loginPage</td> 
  <td>main@704106237</td>   <td></td> </tr>
<tr bgcolor="ce7389">  <td>23/08/23 11:51:20</td>   <td>-70338</td> <td>&nbsp;</td><td title="&gt;&gt;SameUserLoanCount.openingFireFox()[pri:0, instance:com.lendenclub.main.SameUserLoanCount@43f02ef2]">&gt;&gt;openingFireFox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@704106237</td>   <td></td> </tr>
</table>
